/* Text colors */
.text-primary {
    color: #28a755;
}

.text-secondary {
    color: #0284;
}

/* button */

.btn {
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    background-color: #28a755;
    border: none;
    border-radius: 5px;
}

.btn__outline {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.9;
}